In [81]:
%%HTML
<style type='text/css'>
    *{
        # background-color:#E3EDCD;
        # background-color:black;
        # color:white;
        
    }
    h1{
        color:#1976d2;
    }
    h2{
        color:#f57c00;
    }
    h3{
        color:#ba37ff;
    }
    h4{
        color:green;
    }
    table{
        border:1px solid black !important;
        border-collapse:collapse !important;
    }
    th{
        background-color:blueviolet !important;
        text-align:center;
        color:white;
    }
    th,td{
        border:0.1px solid black !important;
        transition:0.2s all liner;
        
    }
    td:hover{
        transform:scale(1.1);
        background-color:orange;
        color:blueviolet;
    }
    .raw{
        white-space:pre;
    }
    #imp{
        color:red;
    }
    #ct{
        text-align:center;
    }
</style>

# 3.3 数据取值与选择

第 2 章具体介绍了获取、设置、调整 NumPy 数组数值的方法与工具，
包括取值操作（如 arr[2, 1]）、切片操作（如 arr[:, 1:5]）、掩
码操作（如 arr[arr > 0]）、花哨的索引操作（如 arr[0, [1,
5]]），以及组合操作（如 arr[:, [1, 5]]）。下面介绍 Pandas 的
Series 和 DataFrame 对象相似的数据获取与调整操作。如果你用过
NumPy 操作模式，就会非常熟悉 Pandas 的操作模式，只是有几个细节
需要注意一下。  
我们将从简单的一维 Series 对象开始，然后再用比较复杂的二维
DataFrame 对象进行演示。

## 3.3.1 Series数据选择方法

如前所述，<span id='imp'>Series 对象与一维 NumPy 数组和标准 Python 字典在许多
方面都一样。</span>只要牢牢记住这两个类比，就可以帮助我们更好地理解
Series 对象的数据索引与选择模式。

01. 将Series看作字典

和字典一样，Series 对象提供了键值对的映射：

In [2]:
import pandas as pd

In [5]:
data = pd.Series([0.25,0.5,0.75,1.0],index=['a', 'b','c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [6]:
## 也可以这样来写
data1 = pd.Series({'a':0.25, 'b':0.5,'c':0.75, 'd':1.0})
data1

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

我们还可以用 Python 字典的表达式和方法来检测键 / 索引和值：

In [7]:
'a' in data

True

In [8]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [10]:
for item in data.items():
    print(item)

('a', 0.25)
('b', 0.5)
('c', 0.75)
('d', 1.0)

In [11]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

Series 对象还可以用字典语法调整数据。就像你可以通过增加新
的键扩展字典一样，你也可以通过增加新的索引值扩展 Series：

In [12]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

Series 对象的可变性是一个非常方便的特性：Pandas 在底层已经
为可能发生的内存布局和数据复制自动决策，用户不需要担心这些
问题。

02. 将Series看作一维数组

Series 不仅有着和字典一样的接口，而且还具备和 NumPy 数组一
样的数组数据选择功能，包括索引、掩码、花哨的索引等操作，
具体示例如下所示：

In [13]:
# 将显式索引作为切片
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [14]:
# 将隐式整数索引作为切片
data[0:2]

a    0.25
b    0.50
dtype: float64

In [15]:
# 掩码
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [16]:
# 花哨的索引
data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

在以上示例中，切片是绝大部分混乱之源。<span id='imp'>需要注意的是，当使用
显式索引（即 data['a':'c']）作切片时，结果包含最后一个索
引；而当使用隐式索引（即 data[0:2]）作切片时，结果不包含
最后一个索引。</span> 解决了困扰已久的问题,那就是隐藏式索引就是像python索引那样左闭右开,而显式索引则是左闭右闭

03. 索引器：loc、iloc和ix

这些切片和取值的习惯用法经常会造成混乱。例如，如果你的
Series 是显式整数索引，那么 data[1] 这样的取值操作会使用显
式索引，而 data[1:3] 这样的切片操作却会使用隐式索引。

In [17]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [18]:
# 取值操作是显式索引
data[1]

'a'

In [19]:
# 切片操作是隐式索引
data[1:3]

3    b
5    c
dtype: object

由于整数索引很容易造成混淆，所以 Pandas 提供了一些索引器
（indexer）属性来作为取值的方法。它们不是 Series 对象的函数
方法，而是暴露切片接口的属性。

第一种索引器是 loc 属性，表示取值和切片都是显式的：

In [20]:
data.loc[1]

'a'

In [21]:
data.loc[1:3]

1    a
3    b
dtype: object

第二种是 iloc(implicit locater 即Python形式的隐式索引) 属性，表示<span id='imp'>取值和切片都是 Python 形式(即普通的数值索引,左闭右开)</span>的 隐式索
引：

In [22]:
data.iloc[1]

'b'

In [25]:
data.iloc[1]

'b'

In [26]:
data.iloc[1:3]

3    b
5    c
dtype: object

第三种取值属性是 ix，它是前两种索引器的混合形式，在 Series
对象中 ix 等价于标准的 []（Python 列表）取值方式。ix 索引器
主要用于 DataFrame 对象，后面将会介绍。

Python 代码的设计原则之一是“显式优于隐式”。使用 loc 和 iloc
可以让代码更容易维护，可读性更高。特别是在处理整数索引的对
象时，我强烈推荐使用这两种索引器。它们既可以让代码阅读和理
解起来更容易，也能避免因误用索引 / 切片而产生的小 bug。

## 3.3.2 DataFrame数据选择方法

前面曾提到，DataFrame 在有些方面像二维或结构化数组，在有些方面
又像一个共享索引的若干 Series 对象构成的字典。这两种类比可以帮
助我们更好地掌握这种数据结构的数据选择方法。

01. 将DataFrame看作字典

第一种类比是把 DataFrame 当作一个由若干 Series 对象构成的
字典。让我们用之前的美国五州面积与人口数据来演示：

In [27]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                'New York': 141297, 'Florida': 170312,
                'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                'New York': 19651127, 'Florida': 19552860,
                'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

两个 Series 分别构成 DataFrame 的一列，可以通过对列名进行
字典形式（dictionary-style）的取值获取数据：

#### 简单理解,就是DataFrameObj['columns_name']

In [28]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

同样，也可以用属性形式（attribute-style）选择纯字符串列名的数
据：

#### 简单理解 即 DataFrame.columns_name

In [29]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

对同一个对象进行属性形式与字典形式的列数据，结果是相同的：

In [30]:
data.area is data['area'] #这俩本质上就是一个东西,索引返回的结果必然是True

True

虽然属性形式的数据选择方法很方便，但是它并不是通用的。如果
列名不是纯字符串，或者列名与 DataFrame 的方法同名，那么就
不能用属性索引。例如，DataFrame 有一个 pop() 方法，如果用
data.pop 就不会获取 'pop' 列，而是显示为方法：

In [31]:
data.pop is data['pop']

False

In [33]:
data['pop']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: pop, dtype: int64

In [34]:
data.pop

<bound method DataFrame.pop of               area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135>

另外，还应该避免对用属性形式选择的列直接赋值（即可以用
data['pop'] = z，但不要用 data.pop = z）。

和前面介绍的 Series 对象一样，还可以用字典形式的语法调整对
象，如果要增加一列可以这样做：

### 新开一列人口密度,它的值等于人口总数除以面积

In [35]:
data['density'] = data['pop'] / data['area']

In [36]:
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

这里演示了两个 Series 对象算术运算的简便语法，我们将在 3.4
节进行详细介绍。

02. 将DataFrame看作二维数组

前面曾提到，可以把 DataFrame 看成是一个增强版的二维数组，
用 values 属性按行查看数组数据：

In [37]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

理解了这一点，就可以把许多数组操作方式用在 DataFrame 上。
例如，可以对 DataFrame 进行行列转置：

In [38]:
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

通过字典形式对列进行取值显然会限制我们把 DataFrame 作为
NumPy 数组可以获得的能力，尤其是当我们在 DataFrame 数组中
使用单个行索引获取一行数据时：

In [39]:
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

而获取一列数据就需要向 DataFrame 传递单个列索引：

In [40]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

因此，在进行数组形式的取值时，我们就需要用另一种方法——前
面介绍过的 Pandas 索引器 loc、iloc 和 ix 了。通过 iloc 索引
器，我们就可以像对待 NumPy 数组一样索引 Pandas 的底层数组
（Python 的隐式索引），DataFrame 的行列标签会自动保留在结
果中：

In [41]:
data.iloc[:3,:2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [42]:
data.loc[:'Illinois', :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

使用 ix 索引器可以实现一种混合效果：

In [43]:
data.ix[:3, :'pop'] #注意ix已经被淘汰了,所以会报错,除非降级到古早版本的ipython

AttributeError: 'DataFrame' object has no attribute 'ix'

需要注意的是，ix 索引器对于整数索引的处理和之前在 Series 对
象中介绍的一样，都容易让人混淆。
任何用于处理 NumPy 形式数据的方法都可以用于这些索引器。例
如，可以在 loc 索引器中结合使用掩码与花哨的索引方法：

In [44]:
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

任何一种取值方法都可以用于调整数据，这一点和 NumPy 的常用
方法是相同的：

In [45]:
data.iloc[0, 2] = 90

In [46]:
data

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

#### 可以看到我们上面修改了第0行第2列的数据为90,即加利福尼亚的人口密度设为了90

如果你想熟练使用 Pandas 的数据操作方法，我建议你花点时间在
一个简单的 DataFrame 上练习不同的取值方法，包括查看索引类
型、切片、掩码和花哨的索引操作。

03. 其他取值方法

还有一些取值方法和前面介绍过的方法不太一样。它们虽然看着有
点奇怪，但是在实践中还是很好用的。首先，<span id='imp'>如果对单个标签取值
就选择列，而对多个标签用切片就选择行</span>：

#### 对多个标签取值就选择行

In [48]:
data['Florida':'Illinois']

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

切片也可以不用索引值，而直接用行数来实现：

In [49]:
data[1:3]

            area       pop     density
Texas     695662  26448193   38.018740
New York  141297  19651127  139.076746

与之类似，掩码操作也可以直接对每一行进行过滤，而不需要使用
loc 索引器：

In [50]:
data[data.density > 100]

            area       pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121

这两种操作方法其实与 NumPy 数组的语法类似，虽然它们与
Pandas 的操作习惯不太一致，但是在实践中非常好用。

# 3.4 Pandas数值运算方法

NumPy 的基本能力之一是快速对每个元素进行运算，既包括基本算术
运算（加、减、乘、除），也包括更复杂的运算（三角函数、指数函数
和对数函数等）。Pandas 继承了 NumPy 的功能，在 2.3 节介绍过的通
用函数是关键。      
但是 Pandas 也实现了一些高效技巧：对于一元运算（像函数与三角函
数），这些通用函数将在输出结果中保留索引和列标签；而对于二元运
算（如加法和乘法），Pandas 在传递通用函数时会自动对齐索引进行计
算。这就意味着，保存数据内容与组合不同来源的数据——两处在
NumPy 数组中都容易出错的地方——变成了 Pandas 的杀手锏。后面还
会介绍一些关于一维 Series 和二维 DataFrame 的便捷运算方法。

## 3.4.1 通用函数：保留索引

因为 Pandas 是建立在 NumPy 基础之上的，所以 NumPy 的通用函数同
样适用于 Pandas 的 Series 和 DataFrame 对象。让我们用一个简单的
Series 和 DataFrame 来演示：

In [51]:
import numpy as np

In [52]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0,10,4))
ser

0    6
1    3
2    7
3    4
dtype: int32

In [53]:
df = pd.DataFrame(rng.randint(0,10,(3,4)),columns=['A','B','C','D'])

In [54]:
df

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

如果对这两个对象的其中一个使用 NumPy 通用函数，生成的结果是另
一个保留索引的 Pandas 对象：

In [55]:
np.exp(ser)  #回忆.exp即进行指数运算e的x次方,exp2即为2的x次方

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

或者，再做一个比较复杂的运算：

In [56]:
np.sin(df*np.pi/4)

          A             B         C             D
0 -1.000000  7.071068e-01  1.000000 -1.000000e+00
1 -0.707107  1.224647e-16  0.707107 -7.071068e-01
2 -0.707107  1.000000e+00 -0.707107  1.224647e-16

任何一种在 2.3 节介绍过的通用函数都可以按照类似的方式使用。

## 3.4.2 通用函数：索引对齐

当在两个 Series 或 DataFrame 对象上进行二元计算时，Pandas 会在
计算过程中对齐两个对象的索引。当你处理不完整的数据时，这一点非
常方便，我们将在后面的示例中看到。

01. Series索引对齐

来看一个例子，假如你要整合两个数据源的数据，其中一个是美国
面积最大的三个州的面积数据，另一个是美国人口最多的三个州的
人口数据

In [57]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
            'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                'New York': 19651127}, name='population')

来看看如果用人口除以面积会得到什么样的结果：

In [58]:
population / area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

结果数组的索引是两个输入数组索引的并集。我们也可以用 Python
标准库的集合运算法则来获得这个索引：

In [62]:
area.index

Index(['Alaska', 'Texas', 'California'], dtype='object')

In [63]:
population.index

Index(['California', 'Texas', 'New York'], dtype='object')

In [64]:
area.index.union(population.index)

Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

对于缺失位置的数据，Pandas 会用 NaN 填充，表示“此处无数”。这
是 Pandas 表示缺失值的方法（详情请参见 3.5 节关于缺失值的介
绍）。这种索引对齐方式是通过 Python 内置的集合运算规则实现
的，任何缺失值默认都用 NaN 填充：

In [65]:
A = pd.Series([2,4,6],index=[0,1,2])
B = pd.Series([1,3,5],index=[1,2,3])
A+B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

如果用 NaN 值不是我们想要的结果，那么可以用适当的对象方法代
替运算符。例如，A.add(B) 等价于 A + B，也可以设置参数自定
义 A 或 B 缺失的数据：

In [66]:
A.add(B,fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

02. DataFrame索引对齐

在计算两个 DataFrame 时，类似的索引对齐规则也同样会出现在
共同（并集）列中：

In [67]:
A = pd.DataFrame(rng.randint(0, 20, (2, 2)),
        columns=list('AB')) #创建一个2行2列的二维数组,列的名称一个叫做A,一个叫做B
A

   A   B
0  1  11
1  5   1

In [68]:
B = pd.DataFrame(rng.randint(0, 10, (3, 3)),
    columns=list('BAC'))

In [69]:
B

   B  A  C
0  4  0  9
1  5  8  0
2  9  2  6

In [70]:
A+B

      A     B   C
0   1.0  15.0 NaN
1  13.0   6.0 NaN
2   NaN   NaN NaN

你会发现，两个对象的行列索引可以是不同顺序的，结果的索引会
自动按顺序排列。在 Series 中，我们可以通过运算符方法的
fill_value 参数自定义缺失值。这里，我们将用 A 中所有值的<span id='imp'>均
值</span>来填充缺失值（计算 A 的均值需要用 stack 将二维数组压缩成
一维数组）：

#### 其实上面一个常见且重要的思想就是均值填充

利用.stack()方式将二维数组转换为1维数组,那样就可以求均值

In [73]:
A.stack()

0  A     1
   B    11
1  A     5
   B     1
dtype: int32

In [71]:
fill = A.stack().mean()

In [72]:
A.add(B,fill_value=fill)

      A     B     C
0   1.0  15.0  13.5
1  13.0   6.0   4.5
2   6.5  13.5  10.5

表 3-1 列举了与 Python 运算符相对应的 Pandas 对象方法。

<table>
    <tr>
        <th>Python运算符</th>
        <th>Pandas方法</th>
    </tr>
    <tr>
        <td>+</td>
        <td>add()</td>
    </tr>
    <tr>
        <td>-</td>
        <td>sub(),subtract()</td>
    </tr>
    <tr>
        <td>*</td>
        <td>mul(),multiply()</td>
    </tr>
    <tr>
        <td>/</td>
        <td>truediv(),div(),divide()</td>
    </tr>
    <tr>
        <td>//</td>
        <td>floordiv()</td>
    </tr>
    <tr>
        <td>%</td>
        <td>mod()</td>
    </tr>
    <tr>
        <td>**</td>
        <td>pow()</td>
    </tr>
</table>

<p id='ct'>表3-1</p>

## 3.4.3 通用函数：DataFrame与Series的运算

我们经常需要对一个 DataFrame 和一个 Series 进行计算，行列对齐
方式与之前类似。也就是说，DataFrame 和 Series 的运算规则，与
NumPy 中二维数组与一维数组的运算规则是一样的。来看一个常见运
算，让一个二维数组减去自身的一行数据：

In [74]:
A = rng.randint(10,size=(3,4))
A

array([[3, 8, 2, 4],
       [2, 6, 4, 8],
       [6, 1, 3, 8]], dtype=int32)

In [75]:
A-A[0]

array([[ 0,  0,  0,  0],
       [-1, -2,  2,  4],
       [ 3, -7,  1,  4]], dtype=int32)

根据 NumPy 的广播规则（详情请参见 2.5 节），让二维数组减自身的
一行数据会按行计算。

在 Pandas 里默认也是按行运算的：

In [76]:
df = pd.DataFrame(A,columns=list('QRST'))
df - df.iloc[0] #这里用的是隐式索引

   Q  R  S  T
0  0  0  0  0
1 -1 -2  2  4
2  3 -7  1  4

如果你想按列计算，那么就需要利用前面介绍过的运算符方法，通过
axis 参数设置：

In [78]:
df.subtract(df['R'],axis=0)

   Q  R  S  T
0 -5  0 -6 -4
1 -4  0 -2  2
2  5  0  2  7

你会发现 DataFrame / Series 的运算与前面介绍的运算一样，结果的
索引都会自动对齐：

In [79]:
halfrow = df.iloc[0,::2] #利用掩码操作,取得第0行数据,列数据指定步长为2

In [80]:
halfrow

Q    3
S    2
Name: 0, dtype: int32

<img src='../imgs/pic2.png'>

In [82]:
df

   Q  R  S  T
0  3  8  2  4
1  2  6  4  8
2  6  1  3  8

In [83]:
df - halfrow

     Q   R    S   T
0  0.0 NaN  0.0 NaN
1 -1.0 NaN  2.0 NaN
2  3.0 NaN  1.0 NaN

这些行列索引的保留与对齐方法说明 Pandas 在运算时会一直保存这些
数据内容，从而避免在处理数据类型有差异和 / 或维度不一致的 NumPy
数组时可能遇到的问题。

# 3.5 处理缺失值

大多数教程里使用的数据与现实工作中的数据的区别在于后者很少是干
净整齐的，许多目前流行的数据集都会有数据缺失的现象。更为甚者，
处理不同数据源缺失值的方法还不同。   
我们将在本节介绍一些处理缺失值的通用规则，Pandas 对缺失值的表现
形式，并演示 Pandas 自带的几个处理缺失值的工具的用法。本节以及
全书涉及的缺失值主要有三种形式：null、NaN 或 NA。

## 3.5.1 选择处理缺失值的方法

在数据表或 DataFrame 中有很多识别缺失值的方法。一般情况下可以
分为两种：一种方法是通过一个覆盖全局的掩码表示缺失值，另一种方
法是用一个标签值（sentinel value）表示缺失值。  
在掩码方法中，掩码可能是一个与原数组维度相同的完整布尔类型数
组，也可能是用一个比特（0 或 1）表示有缺失值的局部状态。  
在标签方法中，标签值可能是具体的数据（例如用 -9999 表示缺失的整
数），也可能是些极少出现的形式。另外，标签值还可能是更全局的
值，比如用 NaN（不是一个数）表示缺失的浮点数，它是 IEEE 浮点数
规范中指定的特殊字符。    
使用这两种方法之前都需要先综合考量：使用单独的掩码数组会额外出
现一个布尔类型数组，从而增加存储与计算的负担；而标签值方法缩小
了可以被表示为有效值的范围，可能需要在 CPU 或 GPU 算术逻辑单元
中增加额外的（往往也不是最优的）计算逻辑。通常使用的 NaN 也不能
表示所有数据类型。  
大多数情况下，都不存在最佳选择，不同的编程语言与系统使用不同的
方法。例如，R 语言在每种数据类型中保留一个比特作为缺失数据的标
签值，而 SciDB 系统会在每个单元后面加一个额外的字节表示 NA 状
态。

## 3.5.2 Pandas的缺失值

Pandas 里处理缺失值的方式延续了 NumPy 程序包的方式，并没有为浮
点数据类型提供内置的 NA 作为缺失值。  
Pandas 原本也可以按照 R 语言采用的比特模式为每一种数据类型标注
缺失值，但是这种方法非常笨拙。R 语言包含 4 种基本数据类型，而
NumPy 支持的类型远超 4 种。例如，R 语言只有一种整数类型，而
NumPy 支持 14 种基本的整数类型，可以根据精度、符号、编码类型按
需选择。如果要为 NumPy 的每种数据类型都设置一个比特标注缺失
值，可能需要为不同类型的不同操作耗费大量的时间与精力，其工作量
几乎相当于创建一个新的 NumPy 程序包。另外，对于一些较小的数据
类型（例如 8 位整型数据），牺牲一个比特作为缺失值标注的掩码还会
导致其数据范围缩小。  
当然，NumPy 也是支持掩码数据的，也就是说可以用一个布尔掩码数
组为原数组标注“无缺失值”或“有缺失值”。Pandas 也集成了这个功能，
但是在存储、计算和编码维护方面都需要耗费不必要的资源，因此这种
方式并不可取。  
综合考虑各种方法的优缺点，Pandas 最终选择用标签方法表示缺失值，
包括两种 Python 原有的缺失值：浮点数据类型的 NaN 值，以及 Python
的 None 对象。后面我们将会发现，虽然这么做也会有一些副作用，但
是在实际运用中的效果还是不错的。

01. None：Python对象类型的缺失值

Pandas 可以使用的第一种缺失值标签是 None，它是一个 Python 单
体对象，经常在代码中表示缺失值。由于 None 是一个 Python 对
象，所以不能作为任何 NumPy / Pandas 数组类型的缺失值，只能用
于 'object' 数组类型（即由 Python 对象构成的数组）：

In [85]:
vals1 = np.array([1,None,3,4])

In [86]:
vals1

array([1, None, 3, 4], dtype=object)

这里 dtype=object 表示 NumPy 认为由于这个数组是 Python 对象
构成的，因此将其类型判断为 object。虽然这种类型在某些情景
中非常有用，对数据的任何操作最终都会在 Python 层面完成，但
是在进行常见的快速操作时，这种类型比其他原生类型数组要消耗
更多的资源：

In [87]:
for dtype in ['object','int']:
    print(f'dtype={dtype}')
    %timeit np.arange(1E6,dtype=dtype).sum()
    print()

dtype=object
61.5 ms ± 1.34 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

dtype=int
2.79 ms ± 43.2 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

使用 Python 对象构成的数组就意味着如果你对一个包含 None 的数
组进行累计操作，如 sum() 或者 min()，那么通常会出现类型错
误：

In [88]:
try:
    vals1.sum()
except BaseException as e:
    print(e)

unsupported operand type(s) for +: 'int' and 'NoneType'

这就是说，在 Python 中没有定义整数与 None 之间的加法运算。

02. NaN：数值类型的缺失值

另一种缺失值的标签是 NaN（全称 Not a Number，不是一个数
字），是一种按照 IEEE 浮点数标准设计、在任何系统中都兼容的
特殊浮点数：

In [89]:
vals2 = np.array([1,np.nan,3,4])
vals2.dtype

dtype('float64')

请注意，NumPy 会为这个数组选择一个原生浮点类型，这意味着
和之前的 object 类型数组不同，这个数组会被编译成 C 代码从而
实现快速操作。你可以把 NaN 看作是一个数据类病毒——它会将与
它接触过的数据同化。无论和 NaN 进行何种操作，最终结果都是
NaN：

In [90]:
1 + np.nan

nan

In [91]:
0 * np.nan

nan

虽然这些累计操作的结果定义是合理的（即不会抛出异常），但是
并非总是有效的：

In [92]:
vals2.sum(),vals2.min(),vals2.max()

(np.float64(nan), np.float64(nan), np.float64(nan))

NumPy 也提供了一些<span id='imp'>特殊的累计函数，它们可以忽略缺失值的影响：</span>

In [93]:
np.nansum(vals2),np.nanmin(vals2),np.nanmax(vals2)

(np.float64(8.0), np.float64(1.0), np.float64(4.0))

谨记，NaN 是一种特殊的浮点数，不是整数、字符串以及其他数据
类型。

03. Pandas中NaN与None的差异

虽然 NaN 与 None 各有各的用处，但是 Pandas 把它们看成是可以等
价交换的，在适当的时候会将两者进行替换：

In [94]:
pd.Series([1,np.nan,2,None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

Pandas 会将没有标签值的数据类型自动转换为 NA。例如，当我们
将整型数组中的一个值设置为 np.nan 时，这个值就会强制转换成
浮点数缺失值 NA。

In [95]:
x = pd.Series(range(2),dtype=int)
x

0    0
1    1
dtype: int64

In [96]:
x[0] = None

In [97]:
x

0    NaN
1    1.0
dtype: float64

请注意，除了将整型数组的缺失值强制转换为浮点数，Pandas 还会
自动将 None 转换为 NaN。（需要注意的是，现在 GitHub 上 Pandas
项目中已经有人提议增加一个原生的整型 NA，不过到编写本书时
还尚未实现。）

尽管这些仿佛会魔法的类型比 R 语言等专用统计语言的缺失值要复
杂一些，但是 Pandas 的标签 / 转换方法在实践中的效果非常好，在
我个人的使用过程中几乎没有出过问题。

Pandas 对 NA 缺失值进行强制转换的规则如表 3-2 所示。

<table>
    <tr>
        <th>类型</th>
        <th>缺失值转换规则</th>
        <th>NA标签</th>
    </tr>
    <tr>
        <td>floating 浮点型 </td>
        <td>无变化</td>
        <td>np.nan</td>
    </tr>
    <tr>
        <td>object 对象类型</td>
        <td>无变化</td>
        <td>None或np.nan</td>
    </tr>
    <tr>
        <td>integer 整数类型</td>
        <td>强制转换为 float64</td>
        <td>np.nan</td>
    </tr>
    <tr>
        <td>boolean 布尔类型</td>
        <td>强制转换为 object</td>
        <td>None或np.nan</td>
    </tr>
</table>

需要注意的是，Pandas 中字符串类型的数据通常是用 object 类型
存储的。

## 3.5.3 处理缺失值

我们已经知道，Pandas 基本上把 None 和 NaN 看成是可以等价交换的缺
失值形式。为了完成这种交换过程，Pandas 提供了一些方法来发现、剔
除、替换数据结构中的缺失值，主要包括以下几种。

isnull()  
创建一个布尔类型的掩码标签缺失值。  
notnull()  
与 isnull() 操作相反。  
dropna()  
返回一个剔除缺失值的数据。  
fillna()  
返回一个填充了缺失值的数据副本。  
本节将用简单的示例演示这些方法。

01. 发现缺失值

Pandas 数据结构有两种有效的方法可以发现缺失值：isnull() 和
notnull()。每种方法都返回布尔类型的掩码数据，例如：

In [98]:
data = pd.Series([1,np.nan,'hello',None])

In [99]:
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

就像在 3.3 节中介绍的，布尔类型掩码数组可以直接作为 Series
或 DataFrame 的索引使用：

In [100]:
data[data.notnull()]

0        1
2    hello
dtype: object

可以看到上面的返回结果中,只有索引位置0和索引位置2的数据不为空

在 Series 里使用的 isnull() 和 notnull() 同样适用于
DataFrame，产生的结果同样是布尔类型。

02. 剔除缺失值

除了前面介绍的掩码方法，还有两种很好用的缺失值处理方法，分
别是 dropna()（剔除缺失值）和 fillna()（填充缺失值）。在
Series 上使用这些方法非常简单：

In [101]:
data.dropna()

0        1
2    hello
dtype: object

而在 DataFrame 上使用它们时需要设置一些参数，例如下面的
DataFrame：

In [105]:
df = pd.DataFrame(
    [[1, np.nan, 2],[2, 3, 5],[np.nan, 4, 6]])

In [106]:
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

我们没法从 DataFrame 中单独剔除一个值，要么是剔除缺失值所
在的整行，要么是整列。根据实际需求，有时你需要剔除整行，有
时可能是整列，DataFrame 中的 dropna() 会有一些参数可以配
置。   
默认情况下，dropna() 会剔除任何包含缺失值的整行数据：

In [107]:
df.dropna()

     0    1  2
1  2.0  3.0  5

可以设置按不同的坐标轴剔除缺失值，比如 axis=1（或
axis='columns'）会剔除任何包含缺失值的整列数据：

In [108]:
df.dropna(axis='columns')

   2
0  2
1  5
2  6

但是这么做也会把非缺失值一并剔除，因为可能有时候只需要剔除
全部是缺失值的行或列，或者绝大多数是缺失值的行或列。这些需
求可以通过设置 how 或 thresh 参数来满足，它们可以设置剔除行
或列缺失值的数量阈值。   
默认设置是 how='any'，也就是说只要有缺失值就剔除整行或整列
（通过 axis 设置坐标轴）。你还可以设置<span id='imp'> how='all'</span>，这样就只
会剔除全部是缺失值的行或列了：

In [109]:
df[3] = np.nan
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [110]:
df.dropna(axis='columns',how='all')

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

还可以通过 thresh 参数设设置行或列中非缺失值的最小数量，从而
实现更加个性化的配置：

In [111]:
df.dropna(axis='rows',thresh=3)

     0    1  2   3
1  2.0  3.0  5 NaN

第 1 行与第 3 行被剔除了，因为它们只包含两个非缺失值。

03. 填充缺失值

有时候你可能并不想移除缺失值，而是想把它们替换成有效的数
值。有效的值可能是像 0、1、2 那样单独的值，也可能是经过填充
（imputation）或转换（interpolation）得到的。虽然你可以通过
isnull() 方法建立掩码来填充缺失值，但是 Pandas 为此专门提供
了一个 fillna() 方法，它将返回填充了缺失值后的数组副本。
来用下面的 Series 演示：

In [113]:
data = pd.Series([1,np.nan,2,None,3],index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

我们将用一个单独的值来填充缺失值，例如用 0：

In [114]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

可以用缺失值前面的有效值来从前往后填充（.fill()）：

In [116]:
# 从前往后填充
data.ffill()

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

也可以用缺失值后面的有效值来从后往前填充(.bfill())

In [117]:
# 从后往前填充
data.bfill()

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

DataFrame 的操作方法与 Series 类似，只是在填充时需要设置坐
标轴参数 axis：

In [119]:
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [120]:
df.ffill(axis=1)

     0    1    2    3
0  1.0  1.0  2.0  2.0
1  2.0  3.0  5.0  5.0
2  NaN  4.0  6.0  6.0

需要注意的是，假如在从前往后填充时，需要填充的缺失值前面没
有值，那么它就仍然是缺失值。