In [1]:
%%HTML
<style type='text/css'>
    *{
        # background-color:#E3EDCD;
        # background-color:black;
        # color:white;
        
    }
    h1{
        color:#1976d2;
    }
    h2{
        color:#f57c00;
    }
    h3{
        color:#ba37ff;
    }
    h4{
        color:green;
    }
    table{
        border:1px solid black !important;
        border-collapse:collapse !important;
    }
    th{
        background-color:blueviolet !important;
        text-align:center;
        color:white;
    }
    th,td{
        border:0.1px solid black !important;
        transition:0.2s all liner;
        
    }
    td:hover{
        transform:scale(1.1);
        background-color:orange;
        color:blueviolet;
    }
    .raw{
        white-space:pre;
    }
    .atcenter{
        text-align:center !important;
    }
    .imp{
        color:red;
        font-weight:bolder;
    }
</style>

## 4.11 文字与注释

一个优秀的可视化作品就是给读者讲一个精彩的故事。虽然在一些场景
中，这个故事可以完全通过视觉来表达，不需要任何多余的文字。但在
另外一些场景中，辅之以少量的文字提示（textual cue）和标签是必不
可少的。虽然最基本的注释（annotation）类型可能只是坐标轴标题与
图标题，但注释可远远不止这些。让我们可视化一些数据，看看如何通
过添加注释来更恰当地表达信息。还是先在 Notebook 里面导入画图需
要用到的一些函数：

In [38]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib as mpl
# plt.style.use('seaborn-whitegrid')
import numpy as np
import pandas as pd

In [39]:
pd.datetime?

Object `pd.datetime` not found.

### 4.11.1 案例：节假日对美国出生率的影响

让我们用 3.10.4 节介绍过的的数据来演示。在那个案例中，我们画了一
幅图表示美国每一年的出生人数。和前面一样，数据可以在
https://raw.githubusercontent.com/jakevdp/data-CDCbirths/master/births.csv
下载。

首先用前面介绍过的清洗方法处理数据，然后画出结果（如图 4-67 所
示）：

In [40]:
births = pd.read_csv('../data/births.csv')

In [33]:
births.head()

   year  month  day gender  births
0  1969      1  1.0      F    4046
1  1969      1  1.0      M    4440
2  1969      1  2.0      F    4454
3  1969      1  2.0      M    4548
4  1969      1  3.0      F    4548

In [41]:
quartiles = np.percentile(births['births'], [25, 50, 75])
mu, sig = quartiles[1], 0.74 * (quartiles[2] - quartiles[0])
births = births.query('(births > @mu - 5 * @sig) & (births < @mu + 5 * @sig)')
births['day'] = births['day'].astype(int)
births.index = pd.to_datetime(10000 * births.year +
                 100 * births.month +
                    births.day, format='%Y%m%d')
births_by_date = births.pivot_table('births',
                                 [births.index.month, births.index.day])
births_by_date.index = [pd.datetime(2012, month, day)
                         for (month, day) in births_by_date.index]
fig, ax = plt.subplots(figsize=(12, 4))
births_by_date.plot(ax=ax);

AttributeError: module 'pandas' has no attribute 'datetime'

In [ ]:
fig, ax = plt.subplots(figsize=(12, 4))
births_by_date.plot(ax=ax);

In [42]:
#直接跳到4.12这段有问题 p405之前的一段出现的问题无法解决