In [36]:
%%HTML
<style type="text/css">
    h1{
        color:#FE7E00;
        font-weight:bold;
    }
    h2{
        color:#0D47A1;
        # font-weight:bold;
    }
    h3{
        color:#408080;
    }
    th{
        border:1px solid black !important;
        color:white !important;
        background-color:#FE7E00 !important;
    }
    # th td{
    #     border:1px solid black;
    # }
    tr{
        border:1px solid black !important;
        border-collapse:collapse !important;
    }
    td{
        border:1px solid black !important;
    }
    tr td:hover{
        background-color:blueviolet !important;
        color:white !important;
        transform:scale(1.05)
    }
    .code_{
        background-color:#1c1f2b !important;
        color:#9dbed3 !important; 
        white-sapce:pre-wrap;
    }
</style>

<h2>数据框对象创建</h2>

<p>将两个series对象作为字典的值，就可以创建一个dataframe对象</p>

In [2]:
population_dict = {'beijing':3000,'shanghai':4000,'guangzhou':2800}
area_dict={'beijing':300,'shanghai':200,'guangzhou':220}

In [3]:
import pandas as pd

In [4]:
pd.DataFrame?

Init signature:
pd.DataFrame(
    data=None,
    index: 'Axes | None' = None,
    columns: 'Axes | None' = None,
    dtype: 'Dtype | None' = None,
    copy: 'bool | None' = None,
) -> 'None'
Docstring:
Two-dimensional, size-mutable, potentially heterogeneous tabular data.

Data structure also contains labeled axes (rows and columns).
Arithmetic operations align on both row and column labels. Can be
thought of as a dict-like container for Series objects. The primary
pandas data structure.

Parameters
----------
data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
    Dict can contain Series, arrays, constants, dataclass or list-like objects. If
    data is a dict, column order follows insertion-order. If a dict contains Series
    which have an index defined, it is aligned by its index. This alignment also
    occurs if data is a Series or a DataFrame itself. Alignment is done on
    Series/DataFrame inputs.

    If data is a list of dicts, column order follows insertion-order.

index : Index or array-like
    Index to use for resulting frame. Will default to RangeIndex if
    no indexing information part of input data and no index provided.
columns : Index or array-like
    Column labels to use for resulting frame when data does not have them,
    defaulting to RangeIndex(0, 1, 2, ..., n). If data contains column labels,
    will perform column selection instead.
dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer.
copy : bool or None, default None
    Copy data from inputs.
    For dict data, the default of None behaves like ``copy=True``.  For DataFrame
    or 2d ndarray input, the default of None behaves like ``copy=False``.
    If data is a dict containing one or more Series (possibly of different dtypes),
    ``copy=False`` will ensure that these inputs are not copied.

    .. versionchanged:: 1.3.0

See Also
--------
DataFrame.from_records : Constructor from tuples, also record arrays.
DataFrame.from_dict : From dicts of Series, arrays, or dicts.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_table : Read general delimited file into DataFrame.
read_clipboard : Read text from clipboard into DataFrame.

Notes
-----
Please reference the :ref:`User Guide <basics.dataframe>` for more information.

Examples
--------
Constructing DataFrame from a dictionary.

>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

Notice that the inferred dtype is int64.

>>> df.dtypes
col1    int64
col2    int64
dtype: object

To enforce a single dtype:

>>> df = pd.DataFrame(data=d, dtype=np.int8)
>>> df.dtypes
col1    int8
col2    int8
dtype: object

Constructing DataFrame from a dictionary including Series:

>>> d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
>>> pd.DataFrame(data=d, index=[0, 1, 2, 3])
   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

Constructing DataFrame from numpy ndarray:

>>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
...                    columns=['a', 'b', 'c'])
>>> df2
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

Constructing DataFrame from a numpy ndarray that has labeled columns:

>>> data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
...                 dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
>>> df3 = pd.DataFrame(data, columns=['c', 'a'])
...
>>> df3
   c  a
0  3  1
1  6  4
2  9  7

Constructing DataFrame from dataclass:

>>> from dataclasses import make_dataclass
>>> Point = make_dataclass("Point", [("x", int), ("y", int)])
>>> pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])
   x  y
0  0  0
1  0  3
2  2  3

Constructing DataFrame from Series/DataFrame:

>>> ser = pd.Series([1, 2, 3], index=["a", "b", "c"])
>>> df = pd.DataFrame(data=ser, index=["a", "c"])
>>> df
   0
a  1
c  3

>>> df1 = pd.DataFrame([1, 2, 3], index=["a", "b", "c"], columns=["x"])
>>> df2 = pd.DataFrame(data=df1, index=["a", "c"])
>>> df2
   x
a  1
c  3
File:           d:\virtualenvs\ai\lib\site-packages\pandas\core\frame.py
Type:           type
Subclasses:     SubclassedDataFrame

In [5]:
population_series = pd.Series(population_dict)
area_series = pd.Series(area_dict)

In [6]:
dataset = pd.DataFrame({'population':population_series,'area':area_series})
dataset

           population  area
beijing          3000   300
shanghai         4000   200
guangzhou        2800   220

In [7]:
dataset.columns #查看列名称

Index(['population', 'area'], dtype='object')

In [8]:
dataset.values #查看值

array([[3000,  300],
       [4000,  200],
       [2800,  220]])

In [9]:
dataset.index

Index(['beijing', 'shanghai', 'guangzhou'], dtype='object')

<p>也可以通过列表创建DataFrame对象</p>

In [11]:
dfobj = pd.DataFrame([population_dict,area_dict])

In [12]:
dfobj

   beijing  shanghai  guangzhou
0     3000      4000       2800
1      300       200        220

<p>但是表的结构是会发生变化的，原来的行名称变成了列名，而列名称则转化为了默认的索引号</p>

<p>当然，我们依旧可以像Serise那样指定索引号</p>

In [24]:
dfobj = pd.DataFrame([population_dict,area_dict],index=['population','area'])

In [25]:
dfobj

            beijing  shanghai  guangzhou
population     3000      4000       2800
area            300       200        220

<p>或者指定columns</p>

In [26]:
population_series=pd.Series(population_dict)

In [27]:
pd.DataFrame(population_series)

              0
beijing    3000
shanghai   4000
guangzhou  2800

In [34]:
population_series=pd.Series(population_dict)
pd.DataFrame(population_series,columns=['population'])

           population
beijing          3000
shanghai         4000
guangzhou        2800