In [1]:
%%HTML
<style type="text/css">
    h1{
        color:#FE7E00;
        font-weight:bold;
    }
    h2{
        color:#0D47A1;
        # font-weight:bold;
    }
    h3{
        color:#408080;
    }
    th{
        border:1px solid black !important;
        color:white !important;
        background-color:#FE7E00 !important;
    }
    # th td{
    #     border:1px solid black;
    # }
    tr{
        border:1px solid black !important;
        border-collapse:collapse !important;
    }
    td{
        border:1px solid black !important;
    }
    tr td:hover{
        background-color:blueviolet !important;
        color:white !important;
        transform:scale(1.05)
    }
    .code_{
        background-color:#1c1f2b !important;
        color:#9dbed3 !important; 
        white-sapce:pre-wrap;
    }
</style>

<h1>MultiIndex</h1>

<p>MultiIndex是三维的数据结构</p>

<p>多级索引是pandas的重要功能,可以在Series,DataFrame对象上拥有两个及两个以上的索引</p>

In [4]:
import pandas as pd
import numpy as np

In [10]:
df = pd.DataFrame({'month': [1, 4, 7, 10],
                    'year': [2012, 2014, 2013, 2014],
                    'sale':[55, 40, 84, 31]})

In [21]:
df

   month  year  sale
0      1  2012    55
1      4  2014    40
2      7  2013    84
3     10  2014    31

<p>multiindex的特性</p>

In [30]:
df.set_index(['year','month'])

            sale
year month
2012 1        55
2014 4        40
2013 7        84
2014 10       31

In [31]:
df.index

RangeIndex(start=0, stop=4, step=1)

MultiIndex(levels=[[2012,2013,2014],[1,4,7,10]], #行标如有重复那么就只保留一个
          labels=[[0,2,1,2],[0,1,2,3]], #对应的行标与level索引的对应关系
          name=['year','month']) #names 列索引名

<img src='./imgs/multiIndex.png'>

<p>多级或分层索引对象multiIndex</p>

<p>index属性</p>
<ul>
    <li>names:levels的名称</li>
    <li>levels:每个level的元组值</li>
</ul>

In [17]:
# df.index.names
# # FrozenList(['year','month'])

In [ ]:
# df.index.levels
# # FrozenList([[1,2],[1,4,7,10]])

<h2>3.1.2multiIndex的创建</h2>

In [32]:
arrays = [[1,1,2,2],['red','blue','red','blue']]
pd.MultiIndex.from_arrays(arrays,names=('num','color'))

MultiIndex([(1,  'red'),
            (1, 'blue'),
            (2,  'red'),
            (2, 'blue')],
           names=['num', 'color'])

In [34]:
names=["a","b","c"]
exems=["期中","期末"]
index=pd.MultiIndex.from_product([names,exems])
df = pd.Series(np.random.randint(0,150,size=6),index=index)
df

a  期中    145
   期末    101
b  期中    102
   期末     99
c  期中    105
   期末    146
dtype: int32